@mixin font-heading-l {
    font-size: 56px;
    line-height: 70px;
    font-weight: 700;
}

@mixin font-heading-m {
    font-size: 40px;
    line-height: 51px;
    font-weight: 700;
}

@mixin font-heading-s {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

@mixin font-body-m {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

@mixin font-button {
    color: $light-cream;
    font-weight: 700;
    line-height: 28px;
    font-size: 16px;
}