@import '~/assets/scss/variables';
@import '~/assets/scss/mixins';

body {
    padding: 16px 0;
    background-color: $light-cream;
    font-family: $plus-kakarta-sans;
    @include mobile-font-body;
}

.container{
    padding: 0px 16px;
} 


@media (min-width:768px){
    body{
        padding: 34px 0;
    }
    
    .container{
        padding: 0px 39px;
    } 
}

@media (min-width:1440px){
    .container{
        padding: 0px 165px;
    } 
}
